.help-block{
    color: red;
}

.field-requireds {
    border: 1px solid red !important;
}

input.readonly, textarea.readonly, input.readonly:focus, textarea.readonly:focus{
    background-color: #f0f0f0;
    color: var(--bs-gray-600) !important;
    cursor: not-allowed;
}

.form-select:disabled {
    color: var(--bs-gray-600) !important;
    background-color: #f0f0f0 !important;
}

.card.card-flush > .card-header {
    border-bottom: 1px solid #cecbcb !important;
}

#kt_app_sidebar .menu-sub .menu-item:hover {
    border-radius: 0.475rem;
    margin-right: 1rem;
}

/* table */
.classTable .row {
    margin: 10px 0;
}

.classTable .row:first-child {
    margin-top: 20px;
}

.classTable thead {
    background-color: #dbdbdb;
}
/*
.classTable table {
    border: 1px solid #efefef;
} */

.classTable table tbody td:first-child,
.classTable table thead th:first-child {
    padding-left: 0.75rem !important;
}

.classTable table thead th {
    white-space: nowrap;
}

.classTable table tbody td:last-child,
.classTable table thead th:last-child {
    padding-right: 0.75rem !important;
}

.classTable table tbody tr.even {
    background-color: #f5f5f5;
}
.classTable {
    overflow-x: auto;
}

.dataTables_scrollBody {
    overflow: unset !important;
}
/* Apply width: 100% !important; to all DataTables EXCEPT the 'audits' table */
.dataTables_scrollHeadInner:not(#audits_wrapper .dataTables_scrollHeadInner) {
    width: 100% !important;
}

.dataTables_wrapper {
    width: 100% !important;
}

.dataTables_scrollHead {
    overflow: visible !important;
}

/* end datatable */

a.dropdown-item {
    display: flex;
    align-items: center;
    gap: 10px;
}
.dataTables_scrollBody {
    overflow: unset !important;
}
a.dropdown-item:hover {
    border-radius: 5px;
    background-color: #E9F3FF;
}

.iti__flag-container {
    height: 46px;
}
span#toggle-password {
    top: 20px !important;
}
.text-warning-2 {
    color: #ff4e00 !important;
}

/* notification */
.notification-btn-count {
    position: relative;
}

.notification-count {
    position: absolute;
    top: -10px;
    right: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 0;
}